body {
    margin: 0;
 
  }
  a {
    text-decoration: none;
  }


h2 {
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
}
.container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.top-wrapper {
    padding-top: 180px;
    padding-bottom: 100px;
    color:whitesmoke;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://image.freepik.com/free-photo/top-view-wi-fi-router-with-hands-using-laptop-smartphone_23-2148779234.jpg);
    background-size: cover;
    text-align: center;
    opacity: 0.7;
    background-position:center top;
    
    
}
h1 {
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 3px 3px #5e5e5e;
    letter-spacing: 10px;
    margin-bottom: 10px;
    opacity: 1;
    font-size:45px;
}

.input {
    text-align: center;
}
.button {
    color: white;
    background-color: #44546A;
    padding: 12px 18px;
    opacity: 1;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 50px;
    box-shadow: 5px 5px #000;
}
.button:active {
    box-shadow: none;
    position: relative;
    top: 5px;
}

.signup {
    background-color: burlywood;
    padding: 20px;
    margin-top: 20px;

}
header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
}

.header-left span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(175, 175, 218) bold;
    padding: 0 25px;
    line-height: 65px;
}
.header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
}

.paket-wrapper {
    padding-bottom: 60px;
    background-color: lightgray;
    text-align: center;
    height: 500px;
}

.heading {
    padding-top: 20px;
    color: darkcyan;
}

h2 {
    font-weight: normal;
    color: cornflowerblue;
    font-size: 40px;

}
.container-paket{
    padding-left: 50px;
}
.paket   {
padding-left: 60px;
}
.package {
    float: left;
    width: 22%;
    border: solid 5px white;
    border-radius: 25px;
    margin:0px 10px 10px 10px;
    background-color: #FFC000;
    
}
.package:active{
    box-shadow: none;
    top: 5px;
    background: rgb(255, 217, 104);
    background-color:rgb(255, 217, 104);
    cursor: pointer;
    }


.message-wrapper {
    height: 150px;
    padding-bottom: 80px;
    background-color: rgb(175, 175, 218);
    text-align: center;
}

.pack-name {
    font-size: 30px;
    }
.internet-speed {
    font-size: 40px;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
}

.subscribe {
    height: 300px;
    background-color: #FFC000;
    text-align: center;
    padding: 10px;
}
.subscribe h2 {
    color: #44546A;
}
.input-email {
    margin-right: 10px;
    height: 30px;
    width: 150px;
}
.button {
    color: white;
    background-color: #44546A;
    padding: 12px 18px;
    opacity: 0.8;
    border-radius: 8px;
    margin-left: 10px;
    box-shadow: 5px 5px #000;
}
.button:active {
    box-shadow: none;
    position: relative;
    top: 5px;
}
.input {
    text-align: center;
}
.subscribe input:hover {
    opacity: 1;
}
footer {
    height: 100px;
    background-color: #44546A;
    padding: 20px;
}
footer a {
    display: block;
    color: white;
    margin-bottom: 20px;
}
.footer-right {
    float: right;
}
.footer-left {
    float: left;
}
